.case {
  width: 12.5%;
  height: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.case__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.lime {
  background-color: lime;
}

.case img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  z-index: 100;
}

.case__piece {
  cursor: pointer;
}

.case__piece:hover {
  transform: scale(1.2);
}

.case__piece:active {
  background-color: lightcyan;
}

.case__dot {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  opacity: 0.3;
  border-radius: 35%;
  z-index: 200;
}

.lime {
  background-color: lime;
}
